<html>

<body bgcolor=#315d45>

    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>You're Underweight</h1>
    <b> Increase your caloric intake.<br>
        Increase your protein intake(High protein foods include meats, fish, eggs, many dairy products, legumes, nuts, and others.)<br>
        Increase your intake of carbs and fat(High carbs include Oat,Bananas,Sweet Potatoes,Beets,Orange and others)<br>
        Increase your intake of energy-dense foods(Nuts,Dried Fruit,Grains,Meat and other.)<br><br>
        "Pain Today<br>
         Will Be<br>
         Gain Tomorrow"<br><br>
    <img src='static\under weight .png' width="250" height="450">
      
    {%elif data == 1%}
    <h1>You're Healthy!</h1>
    <b>To maintain Healthy BMI:<br>
        A balanced diet for a balanced life.<br>
        Regular exercise, make it a habit!<br>
        Stress management.<br>
        Drink plenty of water.<br><br>
        “Take care of your body.<br>
          It’s the only place<br>
           you have to live.”<br><br>
    <img src='static\healthy.png' width="250" height="450">
    
    {%elif data == 2%}
    <h1>You're Overweight!</h1> 
    <img src='static\overweight.png' width="250" height="450">
        
    {%elif data == 3%}
    <h1>You're Obese!</h1>
    <img src='static\obese.png' width="250" height="450">
    

    {%elif data == 4%}
    <h1>You're Extremely Obese!</h1>
    <img src='static\Extremely obese.png' width="250" height="450">
    
    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
