<html>

<body bgcolor=#000000>

    <center>

        <h1 style="color:#86C232;">  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1 style="color:#00C5C8;"> You're Underweight</h1><br>
    <img src='static\under weight.png' width="250" height="450"><br><br>
    <b style="color:white;"> Increase your caloric intake.<br>
        Increase your protein intake(High protein foods include meats, fish, eggs, many dairy products, legumes, nuts, and others.)<br>
        Increase your intake of carbs and fat(High carbs include Oat,Bananas,Sweet Potatoes,Beets,Orange and others)<br>
        Increase your intake of energy-dense foods(Nuts,Dried Fruit,Grains,Meat and other.)<br><br>
        "Pain Today<br>
         Will Be<br>
         Gain Tomorrow"<br><br>
    
      
    {%elif data == 1%}
    <h1 style="color:green;">You're Healthy!</h1>
    <img src='static\healthy.png' width="250" height="450"><br>
    <b style="color:white;">To maintain Healthy BMI:<br>
        A balanced diet for a balanced life.<br>
        Regular exercise, make it a habit!<br>
        Stress management.<br>
        Drink plenty of water.<br><br>
        “Take care of your body.<br>
          It’s the only place<br>
           you have to live.”<br><br>
    
    
    {%elif data == 2%}
    <h1 style="color:yellow;">You're Overweight!</h1>
    <img src='static\overweight3.png' width="250" height="450"><br>
    <b style="color:white;">reducing your caloric intake.<br>
       Cutting back on sugar.<br>
       Eating Fresh,Protin And Whole Food<br>
       Cardiovascular exercise.<br>
       Normal Diet<br><br>
       “YOU WON'T ALWAYS<br>
         BE MOTIVATED.<br>
       YOU HAVE TO LEARN<br>
       TO BE DISCIPLINED.”<br><br>
    
        
    {%elif data == 3%}
    <h1 style="color:Orange;">You're Obese!</h1>
    <img src='static\obese.png' width="250" height="450"><br>
    <b style="color:white;">Exercise regularly<br>
        Eat a well-balanced diet<br>
        Maintain a healthy body weight<br>
        Limit unhealthy foods (refined grains and sweets, potatoes, red meat, processed meat) and beverages (sugary drinks)<br>
        Cardiovascular exercise<br>
        Improve sleep routine and reduce the stress<br><br>
        “THE ROAD MAY BE BUMPY
         BUT STAY COMMITTED TO
            THE PROCESS.”<br><br>
    
    

    {%elif data == 4%}
    <h1 style="color:red;">You're Extremely Obese!</h1>
    <img src='static\Extremely obese.png' width="250" height="450"><br>
    <b style="color:white;">Cut out junk food,Replace bad fats in your diet with good fats.<br>
       Choose foods with low energy density.<br>
       Strive to get at least 150 minutes of aerobic exercise per week.<br>
       Keep moving to burn extra calories.<br>
       Get 8 hours of sleep every night. <br>
       Yoga(like:Bhujangasana (Cobra Pose),Dhanurasana ( Bow Pose),Khumbhakasana (The plank),Virabhadrasana (Warrior Pose) and more.)<br>
       “You didn't gain all your weight in one day,
        You won't lose in one day.
        Be patient with Yourself.”<br><br>
    
    
    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
