<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> HEALTH DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Age :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Height(ft) :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Weight(kg) :  <input type="text", name='c', placeholder="enter 3"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\gymlogo.png' alt="gymlogo">
        
    </center>

    </body>
</html>
